@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Raleway');
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0px;
  width: 100%;
  height:100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

a {
  background-color: transparent;
  color: black;
  text-decoration: none;
}

.pageBody {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height:calc(100% - 60px);
  padding-top:56px;
}

/*************************************************************/

/*                           HEADER                          */

/*************************************************************/

header {
  position: fixed;
  top:0;
  display: flex;
  width: 100%;
  background-color: #658EFF;
  font-size: 16px;
  z-index: 50;
  overflow: visible;
  /*    box-shadow: 0px 1px 5px 0px #000;*/
}

header a {
  width: 100%;
  color: white;
  text-align: center;
  padding: 20px;
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

header a:nth-child(1) {
  width: 140%;
  background-color: #4E7EFF;
}

header a:nth-child(1):hover {
  background-color: #9BB6FF;
}

header a:not(:nth-child(1)) {}

header a:not(:nth-child(1)):hover {
  background-color: #9BB6FF;
}

header .navIsActive {
  background-color: #9BB6FF;
  color: #21190e;
}

header form {
  width: auto;
  position: absolute;
  top: 4.9vw;
  left: 1vw;
}

header #returnAdminHubLink {
  font-size: 1vw;
  background-color: #9BB6FF;
  color: #21190e;
  padding: 5px 10px;
  border-style: solid;
  border-radius: 0.8vw;
  transition-property: background-color;
  transition-duration: 0.3s;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}

header #returnAdminHubLink:hover {
  background-color: white;
  cursor: pointer;
}

/*************************************************************/

/*************************************************************/

/*                           FOOTER                          */

/*************************************************************/

footer {
  position: relative;
  height: 60px;
  background-color: #202020;
  width: 100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer #links {
  display: flex;
  align-items: center;
  
}

footer #links a {
  height:40px;
  margin: 0 5px;
}
footer #links a svg{
  height:100%;
}

footer p {
  align-self: center;
  position: absolute;
  right: 0;
  color: white;
  font-size: 14px;
  margin-right: 20px;
}

footer #adminLink {
  position: absolute;
  font-size: 14px;
  align-self: center;
  left: 20px;
  background-color: #658EFF;
  color: white;
  padding: 10px 20px;
  border-style: solid;
  border-radius: 20px;
  transition-property: background-color;
  transition-duration: 0.3s;
}

footer #adminLink:hover {
  background-color: #658EFF;
}

/*************************************************************/

/*************************************************************/

/*                           BLOG                            */

/*************************************************************/

#blog {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height:calc(100% - 60px);
}

#blog #allArticles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding:0 100px;
}

#blog #allArticles a {
  width: 500px;
  margin: 0 10px;
  margin-top: 80px;
  /* box-shadow: 0px 20px 40px 0px #00000022; */
  border-radius:6px;
}

#blog #allArticles a h2 {
  width: 100%;
  text-align: center;
  background-color: #9BB6FF;
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: normal;
  border-radius:6px 6px 0 0;
}

#blog #allArticles a .articleBody {
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  position: relative;
  background-color: #D9CAAF;
  border-radius: 0 0 6px 6px;
}

#blog #allArticles a .articleBody .articleImageBlock {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
}

#blog #allArticles a .articleBody img {
  width: 100%;
}

#blog #allArticles a .articleBody .articleBodyHover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  color: #21190e;
  padding: 5%;
  text-align: center;
  font-size: 16px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 0.6s;
}

#blog #allArticles a:hover .articleBody .articleBodyHover {
  transform: translateY(0%);
}

/*---------------------- FILTRE ----------------------*/

#blog #filtre {
  position:fixed;
  width:100%;
  z-index:10;
  /*transform: translate(0);*/
}

#blog #filtre #bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

#blog #filtre #bar:hover {
  cursor: pointer;
}

#blog #filtre #bar #barContentBlock {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  font-size: 16px;
  color: #21190e;
}

#blog #filtre #bar #barContentBlock>* {
  margin:4px;
}

#blog #filtre #bar #barContentBlock svg {
  height: 16px;
  transform: rotate(0);
  transition-property: transform;
  transition-duration: 0.3s;
  fill: #21190e;
}

#blog #filtre #filterContentBlock {
  background-color: #efefef;
  display: flex;
  justify-content: space-around;
  height: 0px;
  align-items: center;
  transition-property: height;
  transition-duration: 0.5s;
}

#blog #filtre #filterContentBlock>* {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
}

#blog #filtre #filterContentBlock .filterType {
  display: flex;
}

/*----------------------------------------------------*/

/*************************************************************/

/*************************************************************/

/*                         ADMIN HUB                         */

/*************************************************************/

#adminHub {
  background-color: white;
  min-height: calc(100% - 60px);
}

#adminHub h1 {
  width: 100%;
  text-align: center;
  font-size: 1.5vw;
  color: #21190e;
  padding: 5vw;
}

#adminHub #allOptions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 5vw;
}

#adminHub #allOptions .option {
  position: relative;
  overflow: hidden;
  background-color: #21190e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fac23b;
  font-size: 1.6vw;
  height: 20vw;
  width: 20vw;
}

#adminHub #allOptions .option:nth-child(2n) {
  background-color: #362916;
}

#adminHub #allOptions .option svg {
  fill: #fac23b;
  height: 7vw;
}

#adminHub #allOptions .option p[class="optionName"] {
  margin-top: 17%;
}

#adminHub #allOptions .option .optionHover {
  height: 100%;
  width: 100%;
  position: absolute;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 0.5s;
}

#adminHub #allOptions .option:hover .optionHover {
  transform: translateY(0);
}

#adminHub #allOptions .option .optionHover button {
  color: #21190e;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition-property: background-color;
  transition-duration: 0.4s;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6vw;
}

#adminHub #allOptions .option .optionHover button[name="newArticleSubmit"] {
  background-color: #7AA21B;
}

#adminHub #allOptions .option .optionHover button[name="deleteArticleSubmit"] {
  background-color: #DA0013;
}

#adminHub #allOptions .option .optionHover button:hover {
  background-color: #d9caaf;
  cursor: pointer;
}

/*************************************************************/

/*************************************************************/

/*                         NEW ARTICLE                       */

/*************************************************************/

#newArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  min-height: calc(100% - 60px);
}

#newArticle section {
  background-color: white;
  width: 50vw;
  margin-bottom: 2.5vw;
}

#newArticle #titleBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
  border-style: solid;
  border-radius: 0 0 7px 7px;
}

#newArticle #titleBlock svg {
  fill: #21190e;
  width: 3.2vw;
  height: 3.2vw;
  margin: 0.6vw;
}

#newArticle #titleBlock h1 {
  font-size: 2.2vw;
  margin: 0.6vw;
  font-weight: normal;
}

/*#newArticle #title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newArticle #title svg{
    width:3vw;
}*/

#newArticle form #informationsForm {
  display: flex;
  flex-direction: column;
  padding: 2%;
  font-size: 1vw;
  border-style: solid;
  border-radius: 7px;
  margin-bottom: 2.5vw;
}

#newArticle form #informationsForm input {
  padding: 0.2vw;
  height: 2vw;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  color: #21190e;
  font-size: 1.2vw;
  font-family: 'Raleway', sans-serif;
}

#newArticle form #informationsForm>* {
  padding: 1%;
}

#newArticle form #informationsForm .itemForm label {
  margin-bottom: 0.1vw;
  color: #21190e
}

#newArticle form #informationsForm .itemForm {
  display: flex;
  flex-direction: column;
}

#newArticle form #informationsForm .doubleItemsLine {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#newArticle form #informationsForm .doubleItemsLine>* {
  width: 50%
}

#newArticle form #informationsForm .doubleItemsLine .itemForm:nth-child(1) {
  margin-right: 6%;
}

#newArticle form #informationsForm #keywordsLine {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#newArticle form #informationsForm #keywordsLine label {
  padding-right: 0.5vw;
}

#newArticle form #informationsForm #keywordsLine button {
  background-color: #7aa21b;
  padding: 0;
  width: 1.6vw;
  height: 1.6vw;
  border-style: solid;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

#newArticle form #edition {
  border-style: solid;
  border-radius: 6px;
}

#newArticle form #edition #sheet {
  display: flex;
  flex-direction: column;
  margin: 0 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

#newArticle form #edition #sheet .addTextBlock {
  display: flex;
  align-items: center;
  margin: 1vw 0;
  background-color: #21190e;
  justify-content: center;
  padding: 6vw;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  position: relative;
  font-size: 1.5vw;
  transition-property: all;
  transition-duration: 0.3s;
}

#newArticle form #edition #sheet .addTextBlock:hover {
  background-color: #d9caaf;
  color: #21190e;
}

#newArticle form #edition #sheet .addTextBlock:hover svg {
  fill: #21190e;
}

#newArticle form #edition #sheet .addTextBlock svg {
  width: 2vw;
  height: 2vw;
  margin-right: 1vw;
  fill: white;
  transition-property: all;
  transition-duration: 0.3s;
}

#newArticle form #edition #sheet .addImageBlock {
  position: relative;
}

#newArticle form #edition #sheet .addImageBlock label {
  display: flex;
  align-items: center;
  margin: 1vw 0;
  background-color: #362916;
  justify-content: center;
  padding: 6vw;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  position: relative;
  font-size: 1.5vw;
  transition-property: all;
  transition-duration: 0.3s;
}

#newArticle form #edition #sheet .addImageBlock label:hover {
  background-color: #d9caaf;
  color: #21190e;
}

#newArticle form #edition #sheet .addImageBlock label:hover svg {
  fill: #21190e;
}

#newArticle form #edition #sheet .addImageBlock svg {
  width: 2vw;
  height: 2vw;
  margin-right: 1vw;
  fill: white;
  transition-property: all;
  transition-duration: 0.3s;
}

#newArticle form #edition #sheet .addImageBlock input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#newArticle form #edition #sheet .textBlock {
  margin: 1vw 0;
  color: #21190e;
  height: 14vw;
  width: 100%;
  position: relative;
  display: none;
}

#newArticle form #edition #sheet .textBlock textarea {
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 1vw;
}

#newArticle form #edition #sheet .imageBlock {
  margin: 1vw 0;
  width: 100%;
  position: relative;
  display: none;
}

#newArticle form #edition #sheet .imageBlock img {
  width: 100%;
}

#newArticle form #edition #sheet .imageBlock label {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #fac23b;
  height: 2vw;
  border-style: solid;
  border-radius: 1vw;
  color: white;
  cursor: pointer;
  padding: 0 1vw;
  position: absolute;
  top: -1vw;
  left: -1vw;
  transition-property: background-color;
  transition-duration: 0.3s;
  font-size: 1vw;
  overflow: hidden;
}

#newArticle form #edition #sheet .imageBlock input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#newArticle form #edition #sheet .imageBlock label:hover {
  background-color: #e1ae35;
}

#newArticle form #edition #sheet .deleteButton {
  background-color: #da0013;
  width: 2vw;
  height: 2vw;
  border-style: solid;
  border-radius: 1vw;
  color: white;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: -1vw;
  right: -1vw;
  transition-property: background-color;
  transition-duration: 0.3s;
  font-size: 1vw;
}

#newArticle form #edition #sheet .deleteButton:hover {
  background-color: #d84350
}

#newArticle #actionButtonBlock {
  position: absolute;
  /*top:0;
    left:-22.5vw; */
  /*taille block bouton + (espace gauche - taille block bouton)/2*/
  font-size: 1.1vw;
  text-align: center;
  color: white;
  width: 20vw;
  cursor: pointer;
}

#newArticle #actionButtonBlock #addTextButton {
  background-color: #21190e;
  border-style: solid;
  border-radius: 0.7vw 0.7vw 0 0;
}

#newArticle #actionButtonBlock #addImageButton {
  background-color: #362916;
  border-style: solid;
  border-radius: 0 0 0.7vw 0.7vw;
}

#newArticle #actionButtonBlock>* {
  padding: 1.8vw 1vw;
  transition-property: background-color, color;
  transition-duration: 0.3s;
}

#newArticle #actionButtonBlock #addImageButton:hover {
  background-color: #d9caaf;
  color: #21190e;
}

#newArticle #actionButtonBlock #addTextButton:hover {
  background-color: #d9caaf;
  color: #21190e;
}

#newArticle form #postArticleSubmit {
  background-color: #7aa21b;
  padding: 1vw;
  font-family: 'Raleway', sans-serif;
  border-style: solid;
  border-radius: 0.5vw;
  cursor: pointer;
  font-size: 1.4vw;
  transition-property: background-color;
  transition-duration: 0.3s;
  width: 12vw;
  margin-left: 19vw;
  margin-bottom: 2.5vw;
  color: white;
}

#newArticle form #postArticleSubmit:hover {
  background-color: #fac23b;
}

/*************************************************************/

/*************************************************************/

/*                        DELETE ARTICLE                     */

/*************************************************************/

#deleteArticle {
  padding: 0 25vw;
  background-color: white;
  min-height: calc(100% - 60px);
}

#deleteArticle section,
#deleteArticle form {
  background-color: white;
  width: 50vw;
  margin-bottom: 2.5vw;
}

#deleteArticle #titleBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
  border-style: solid;
  border-radius: 0 0 0.4vw 0.4vw;
}

#deleteArticle #titleBlock svg {
  fill: #21190e;
  width: 3.2vw;
  height: 3.2vw;
  margin: 0.6vw;
}

#deleteArticle #titleBlock h1 {
  font-size: 2.2vw;
  margin: 0.6vw;
  font-weight: normal;
}

#deleteArticle #searchBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1vw 2vw;
  font-size: 1vw;
  border-style: solid;
  border-radius: 0.4vw;
}

#deleteArticle #searchBlock input {
  width: 100%;
  margin: 0 3vw;
  height: 1.6vw;
  padding: 0.2vw;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  font-size: 1vw;
  font-family: 'Raleway', sans-serif;
}

#deleteArticle #searchBlock p {
  background-color: #fac23b;
  color: white;
  font-family: 'Raleway', sans-serif;
  border-style: solid;
  border-radius: 0.8vw;
  height: 1.6vw;
  padding: 0 1vw;
  transition-property: background-color;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  font-size: 0.7vw;
}

#deleteArticle #searchBlock p:hover {
  background-color: #e1ae35;
  cursor: pointer;
}

#deleteArticle #listArticle {
  background-color: white;
}

#deleteArticle #listArticle .article {
  position: relative;
  margin-bottom: 3vw;
  border-style: solid;
  border-radius: 0.4vw;
  overflow: hidden;
}

#deleteArticle #listArticle .article:hover {
  cursor: pointer;
}

#deleteArticle #listArticle .article h2 {
  width: 100%;
  text-align: center;
  background-color: #21190e;
  color: white;
  padding: 1.1vw;
  font-size: 1.5vw;
  font-weight: normal;
}

#deleteArticle #listArticle .article .articleBody {
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 15vw;
  position: relative;
  background-color: #D9CAAF;
}

#deleteArticle #listArticle .article .articleBody .articleImageBlock {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
}

#deleteArticle #listArticle .article .articleBody img {
  width: 100%;
}

#deleteArticle #listArticle .article .transparentDeleteLayer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
}

#deleteArticle #listArticle .article .transparentDeleteLayer .background {
  width: 100%;
  height: 100%;
  background-color: #fac23b;
  opacity: 0.5;
}

#deleteArticle #listArticle .article .transparentDeleteLayer svg {
  width: 4vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #da0013;
  fill: #d9caaf;
  padding: 1.2vw;
}

#deleteArticle #actionButtonBlock {
  position: absolute;
  font-size: 1.1vw;
  text-align: center;
  color: white;
  width: 20vw;
  cursor: pointer;
  background-color: #21190e;
  padding: 1vw;
  border-style: solid;
  border-radius: 0.4vw;
  transition-property: background-color;
  transition-duration: 0.3s;
}

#deleteArticle #actionButtonBlock:hover {
  background-color: #da0013;
}

/*************************************************************/

/*************************************************************/

/*                          ARTICLE                          */

/*************************************************************/

#articleBody {
  display: flex;
  align-items: center;
}

#articleBody #sheet {
  background-color: #f4f4f4;
  /* box-shadow: 0px 20px 40px 0px #00000022; */
  margin-bottom: 60px;
  padding: 30px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: solid 4px #9BB6FF;
  /* border-radius:6px; */
  width:800px;
  transform: translateX(-200px);
}

#articleBody #sheet>* {
  margin: 20px 0;
}

#articleBody #sheet h1 {
  font-size: 40px;
  font-weight: normal;
}

#articleBody #sheet p {
  font-size: 16px;
  color:#666;
  width: 100%;
}

#articleBody #sheet>img {
  width: 100%;
  border-radius:6px;
}

#articleBody #sheet #authorBlock {
  overflow:hidden;
  border-radius:6px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  background-color: white;
  /* border:solid 1px #aaa; */
  padding:10px 20px;
  margin: 20px 0 0 0;
}

#articleBody #sheet #authorBlock #authorImageContainer {
  height: 70px;
  width: 70px;
  border-radius:50%;
  overflow: hidden;

}

#articleBody #sheet #authorBlock #authorImageContainer img {
  height: auto;
  width: 100%;
}

#articleBody #sheet #authorBlock p {
  padding: 0 20px;
  width:auto;
}

/*************************************************************/

/*************************************************************/

/*                        IN DEVELOPMENT                     */

/*************************************************************/

#inDevelopment {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 60px);
}

#inDevelopment section {
  background-color: #F4F4F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #202020;
  font-size: 14px;
  /* border: solid 1px #4E7EFF; */
  border-radius:6px;
  animation-duration: 0.8s;
  animation-name: inDevFadeIn;
}

@keyframes inDevFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#inDevelopment section>* {
  margin: 10px;
}

#inDevelopment section svg {
  margin-bottom: 20px;
  width: 60px;
  fill:#4E7EFF;
}

#inDevelopment section p:nth-child(2) {
  margin-bottom: 20px;
}

#inDevelopment section p a {
  color: #658EFF;
  transition-property: color;
  transition-duration: 0.3s;
}

#inDevelopment section p a:hover {
  color: #9BB6FF;
}

/*************************************************************/

/*************************************************************/

/*                       ADMIN CONNECTION                    */

/*************************************************************/

#adminConnection {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: calc(100% - 60px);
}

#adminConnection h1 {
  font-size: 1.6vw;
  margin-top: -40vh;
}

#adminConnection form {
  position: relative;
  width: 20vw;
  margin-top: -100vh;
}

#adminConnection #formContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw 2vw;
  width: 100%;
  background-color: white;
  color: #21190e;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 5px 0px #656565;
}

#adminConnection #formContent article {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1vw;
  font-size: 0.85vw;
}

#adminConnection #formContent article input {
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  height: 1.6vw;
  margin-top: 0.2vw;
  font-size: 1vw;
  font-family: 'Raleway', sans-serif;
  padding: 0.1vw;
}

#adminConnection #formContent button {
  font-family: 'Raleway', sans-serif;
  background-color: #362916;
  color: #d9caaf;
  padding: 0.5vw 1vw;
  font-size: 0.7vw;
  border-style: solid;
  border-radius: 0.5vw;
  margin-top: 1vw;
  transition-property: background-color, color;
  transition-duration: 0.3s;
}

#adminConnection #formContent button:hover {
  background-color: #fac23b;
  color: #362916;
  cursor: pointer;
}

/*************************************************************/